<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= f.input :email %>
  <%= f.input :nickname, hint: "We don't want to front you email. Please consider a cool name" %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, class: "btn-success" %>
  
<% end %>

<%= render "devise/shared/links" %>
