<% if @presentation.cover.attached? %>
  <%= image_tag @presentation.cover %>
<% end %>

<h1><%= @presentation.title %></h1>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>

<h2>Parts</h2>
<%= link_to "Create part", new_presentation_part_path(@presentation, @part) %>

<div class="parts mt-2">
  <% if @presentation.parts.any? %>
    <%= render @presentation.parts %>
  <% else %>
    no parts
  <% end %>
</div>

