<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
  <%= link_to "Preze", root_url, :class=> 'navbar-brand' %>

  <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Explore", pages_path("home"), :class=> 'nav-link' %></li>
        <li class="nav-item">
          <%= link_to(edit_user_registration_path, :class => "nav-link") do %>
            <% if Current.user.avatar.attached? %>
              <%= image_tag current_user.avatar.variant(resize: "20x20") %>
            <% else %>
              <%= image_tag current_user.avatar_url, width: 20 %>
            <% end %>
            <%= Current.user.email %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, :class => 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>