<!DOCTYPE html>
<html>
  <head>
    <title>Slide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/themes/beagle.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
  
    <%= render 'layouts/nav' %>
    <% if notice.present? %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <div class="site-wrapper">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <script>
      var editor = new MediumEditor('.editable', {
        // options go here
      });
    </script>
  </body>

   

</html>
